.login {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_content {
  width: 60vw;
  max-width: 1300px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: center;
}

.login_content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px;
}

.login_content div input {
  width: 300px;
  height: 32px;
  margin: 8px;
  font-size: 15px;
  padding: 8px 16px 8px 16px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.login_content div button {
  width: 100px;
  height: 36px;
  border: none;
  background-color: #3e8893;
  color: white;
  margin: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
